<?xml version="1.0" encoding="UTF-8" ?>

<!--
 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.
-->

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>
        <service id="fos_comment.listener.comment_vote_score" class="FOS\CommentBundle\EventListener\CommentVoteScoreListener">
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="fos_comment.listener.thread_counters" class="FOS\CommentBundle\EventListener\ThreadCountersListener">
            <argument type="service" id="fos_comment.manager.comment" />
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="fos_comment.listener.thread_permalink" class="FOS\CommentBundle\EventListener\ThreadPermalinkListener">
            <argument type="service" id="request_stack" />
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="fos_comment.listener.comment_blamer" class="FOS\CommentBundle\EventListener\CommentBlamerListener">
            <argument type="service" id="security.authorization_checker" />
            <argument type="service" id="security.token_storage" />
            <argument type="service" id="logger" on-invalid="null" />
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="fos_comment.listener.vote_blamer" class="FOS\CommentBundle\EventListener\VoteBlamerListener">
            <argument type="service" id="security.authorization_checker" />
            <argument type="service" id="security.token_storage" />
            <argument type="service" id="logger" on-invalid="null" />
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="fos_comment.listener.closed_threads" class="FOS\CommentBundle\EventListener\ClosedThreadListener">
            <tag name="kernel.event_subscriber" />
        </service>
    </services>
</container>
