language: php

php:
    - 5.5
    - 5.6
    - 7.0
    - 7.1
    - hhvm

cache:
    directories:
        - $HOME/.composer/cache/files

matrix:
    include:
        - php: 5.3
          env: SYMFONY_DEPRECATIONS_HELPER=weak
        - php: 5.4
          env: SYMFONY_DEPRECATIONS_HELPER=weak
        - php: 5.6
          env: COMPOSER_FLAGS="--prefer-lowest" SYMFONY_DEPRECATIONS_HELPER=weak
        - php: 5.6
          env: SYMFONY_VERSION='2.7.*'
        - php: 5.6
          env: SYMFONY_VERSION='2.8.*'
        - php: 5.6
          env: SYMFONY_VERSION='3.0.*'
    fast_finish: true

install:
    - composer self-update
    - if [ "$TRAVIS_PHP_VERSION" == "5.3" ]; then phpenv config-add travis.php.ini; fi
    - if [ "$SYMFONY_VERSION" != "" ]; then composer require --no-update symfony/symfony=$SYMFONY_VERSION; fi
    - composer update --no-interaction --prefer-source $COMPOSER_FLAGS

script: phpunit --coverage-text --colors
