<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" color="true">
    <php>
        <ini name="xdebug.max_nesting_level" value="200" />
    </php>
    <testsuites>
        <testsuite name="FOSCommentBundle">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
                <directory>./sahi</directory>
                <directory>./Features</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
