{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<div class="fos_comment_flags">
    {% for flag in flags %}
        <div class="fos_comment_flag">
            <div class="reason">
                {{ flag.reason }}
            </div>
        </div>
    {% endfor %}
</div>
