{#

 This file is part of the FOS\CommentBundle.

 (c) Thibault Duplessis <thibault.duplessis@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% block fos_comment_form_title %}
    {% if first %}
        <h3>Be the first to comment</h3>
    {% else %}
        <h3>Add New Comment</h3>
    {% endif %}
{% endblock %}

<form class="fos_comment_comment_form" action="{{ path("fos_comment_comment_create", { "threadIdentifier": thread.identifier }) }}" method="POST">

    {% block fos_comment_form_fields %}
        {{ form_errors(form) }}
        {{ form_widget(form.body) }}
        {{ form_widget(form._token) }}
    {% endblock %}

    <div class="fos_comment_submit">
        {% block fos_comment_form_submit %}
            <input type="submit" value="Post" />
        {% endblock %}
    </div>

</form>
