{% extends "FOSCommentBundle:Comment:new.html.twig" %}

{#

 This file is part of the FOS\CommentBundle.

 (c) Thibault Duplessis <thibault.duplessis@gmail.com>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% block fos_comment_form_title %}
    <h3>Replying to <span class="fos_comment_reply_name_placeholder"></span></h3>
{% endblock %}

{% block fos_comment_form_submit %}
    <input type="button" value="Cancel" class="fos_comment_reply_cancel" />
    {{ parent() }}
{% endblock %}