{% extends "FOSCommentBundle:Comment:new.html.twig" %}

{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% block fos_comment_form_title %}
    <h3>{% trans from 'FOSCommentBundle' %}fos_comment_comment_reply_reply_to{% endtrans %} <span class="fos_comment_reply_name_placeholder"></span></h3>
{% endblock %}

{% block fos_comment_form_submit %}
    <input type="button" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_reply_cancel{% endtrans %}" class="fos_comment_reply_cancel" />
    {{ parent() }}
{% endblock %}