{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

{% set depth = depth|default(0) %}
{% set displayDepth = displayDepth|default(0) %}

{% if displayDepth > 0 and displayDepth < depth %}
<div class="fos_comment_comment_loadmore">
    <button data-url="{{ path("fos_comment_comment_loadmore", {"commentId": node.comment.id, "sorter": sorter}) }}" class="fos_comment_comment_loadmore_load">{% trans from 'FOSCommentBundle' %}fos_comment_comment_tree_load_more{% endtrans %}</button>
</div>
{% else %}
{% for node in nodes %}
    {% include "FOSCommentBundle:Comment:show.html.twig" with { "comment": node.comment, "children": node.children, "depth": depth, "displayDepth": displayDepth, "sorter": sorter } %}
{% endfor %}
{% endif %}
