{#

 This file is part of the FOS\CommentBundle.

 (c) Tim Nagel <tim@nagel.com.au>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<ul class="fos_comment_comment_votes">
    {% for vote in votes %}
    <li>Vote on {{ vote.createdAt|date }} for {{ vote.value }}</li>
    {% endfor %}
</ul>
