{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<ul class="fos_comment_comment_votes">
    {% for vote in votes %}
    <li>Vote on {{ vote.createdAt|date }} for {{ vote.value }}</li>
    {% endfor %}
</ul>
