<div id="comments" class="js-hidden">
    <div class="grid-row centered">
        <div class="grid-content">
            <div id="fos_comment_thread" data-thread="{{ thread.id }}" class="grid-row">

                <h3 class="comment-title alt-title has-logo">
                    {% if thread.numComments > 0 %}
                    	{% transchoice count with {'%count%': count} from "FOSCommentBundle" %}fos_comment_thread_comment_count{% endtranschoice %}
                        <a class="comments-react-trigger" href="#reaction-form">
                            <i class="icon-comment"></i>>{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_headline{% endtrans %}
                        </a>
                    {% else %}
                        <a class="comments-react-trigger" href="#reaction-form">
                            <i class="icon-comment"></i>">{% trans from 'FOSCommentBundle' %}fos_comment_comment_show_reply{% endtrans %}
                        </a>
                    {% endif %}
                </h3>

                <div class="comment_list">
                    {% for commentObject in comments %}
                        {% set comment = commentObject.comment %}

                        {% include "FOSCommentBundle:Thread:comment_content.html.twig" %}

                    {% endfor %}
                </div>

                {% if fos_comment_can_comment_thread(thread) and is_granted('ROLE_USER') %}
                    {% render url("fos_comment_new_thread_comments", {"id": thread.id}) %}
                {% elseif fos_comment_can_comment_thread(thread) %}
                    <div id="fos_comment_thread">
                        {% trans from 'FOSCommentBundle' %}fos_comment_permission_denied{% endtrans %}
                        {{ render(controller('GenjAuthenticationBundle:Login:index', { 'redirectUri': redirect_uri ~ '#fos_comment_thread' })) }}
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
