<h3>Add New Comment</h3>

{% render "FOSCommentBundle:Comment:new" with {"thread": thread} %}

<h3>Showing {{ thread.numComments }} comments</h3>

<div class="fos_comment_thread_comments">
    {% render "FOSCommentBundle:Comment:tree" with {"thread": thread} %}
</div>
