<div class="fos_comment_thread_show">

    {% include "FOSCommentBundle:Comment:new.html.twig" with {"form": form, "first": 0 == thread.numComments} %}

    {% if thread.numComments > 0 %}
        <h3>Showing {{ thread.numComments }} comments</h3>
        <div class="fos_comment_thread_comments">
            {% render "FOSCommentBundle:Comment:tree" with {"thread": thread} %}
        </div>
    {% endif %}

    <div class="fos_comment_reply_prototype">
        {% include "FOSCommentBundle:Comment:reply.html.twig" with {"form": form} %}
    </div>
</div>
