<div class="fos_comment_thread_show">

    {% include "FOSComment:Comment:new.html.twig" with {"form": form, "first": 0 == thread.numComments} %}

    <a href="{{ path("fos_comment_thread_show_feed", {"identifier": thread.identifier}) }}">RSS feed</a>

    {% if thread.numComments > 0 %}
        <h3>Showing {{ thread.numComments }} comments</h3>
        <div class="fos_comment_thread_comments">
            {% render "FOSComment:Comment:tree" with {"thread": thread, "sortOrder": sortOrder, "displayDepth": displayDepth } %}
        </div>
    {% endif %}

    <div class="fos_comment_reply_prototype">
        {% include "FOSComment:Comment:reply.html.twig" with {"form": form} %}
    </div>
</div>
