{#

 This file is part of the FOSCommentBundle package.

 (c) FriendsOfSymfony <http://friendsofsymfony.github.com/>

 This source file is subject to the MIT license that is bundled
 with this source code in the file LICENSE.

#}

<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ thread.id }}</title>
    <id>{{ thread.id }}</id>
    <link href="{{ thread.permalink }}" rel="alternate" />
    <updated>{{ thread.lastCommentAt|date("c") }}</updated>
    {% render "FOSCommentBundle:Comment:listFeed" with {"thread": thread} %}
</feed>
